div.body div.content {
    position: absolute;
    top: 800px;
    left: 50%;
    width: 90%;
    height: 400px;
    transform: translate(-50%, 0);
    border-radius: 51px;
    background: #c0bfbf;
    box-shadow: 7px 7px 11px #4d4c4c,
        -7px -7px 11px #ffffff;
}

div.body div.content span {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    font-size: 2em;
    font-weight: 550;
    font-family: Verdana, Geneva, sans-serif;
    color: #123;
    transform: translate(-50%, -50%);
}