div.body div.frame {
    border-radius: 51px;
    background: #bababa;
    box-shadow: 13px 13px 26px #4a4a4a,
        -13px -13px 26px #ffffff;
}

div.body div.contact-show {
    position: absolute;
    top: 100%;
    left: 25%;
    width: 45%;
    height: 800px;
    transform: translate(-50%, 0);
}

div.body h2 {
    position: absolute;
    top: 0em;
    left: 50%;
    font-size: 5em;
    font-weight: 700;
    font-family: Verdana, Geneva, sans-serif;
    background: linear-gradient(90deg, #02dbb0, #007adf);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(-50%, -50%);
}

div.body div.contact-show a {
    position: absolute;
    width: 80%;
    height: 60px;
    left: 50%;
    top: var(--i);
    transform: translate(-50%, 0);
    border-radius: 51px;
    background: #bababa;
    box-shadow: 6px 6px 12px #4a4a4a,
        -6px -6px 12px #ffffff;
    transition: all 0.5s;
}

div.body div.contact-show a ion-icon {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: #000;
}

div.body div.contact-show a span {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: #000;
}

div.body div.contact-show a:hover {
    border-radius: 51px;
    background: #bababa;
    box-shadow: inset 6px 6px 12px #4a4a4a,
        inset -6px -6px 12px #ffffff;
}

div.body div.contact-mail {
    position: absolute;
    top: 100%;
    left: 75%;
    width: 45%;
    height: 800px;
    transform: translate(-50%, 0);
}

div.body div.contact-mail span {
    position: absolute;
    top: 6em;
    left: 50%;
    font-size: 2em;
    color: #333;
    transform: translate(-50%, 0);
}