li {
    list-style: none;
}

.head {
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 50%;
    width: 90%;
    height: 70px;
    transform: translate(-50%, 0);
    border-radius: 50px;
    background: #3e3d3d;
    box-shadow: 7px 7px 11px #191818,
        -7px -7px 11px #636262;
}

.head .head-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.head .return {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    color: #fff;
}

.head .title {
    position: absolute;
    top: -30px;
    left: 80px;
    font-family: "Courier New";
    font-size: 30px;
    color: #fff;
}

.head .weather {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.head .controls {
    position: absolute;
    top: 20px;
    right: 50px;
    /* width: 35%; */
    height: 30px;
}

.head .controls a {
    margin: 6px;
    padding: 10px;
    font-family: 黑体;
    color: #fff;
    font-size: 22px;
    border-radius: 10px;
    background: #292929;
    box-shadow: 5px 5px 2px #151515,
        -5px -5px 2px #3d3d3d;
    text-decoration: none;
    transition: all 0.5s ease;
}

.head .controls a:hover {
    box-shadow: inset 5px 5px 2px #151515;
}

.head .controls a.active {
    text-decoration: underline #fff 3px;
    text-underline-offset: 8px;
}

.head .controls a.active:hover {
    text-decoration: underline #fff 3px;
    text-underline-offset: 8px;
}

.head .controls a.userinfo .userimage {
    position: absolute;
    top: -5px;
    right: -20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
    transition: all 0.5s ease;
}

.head .controls a.userinfo {
    box-shadow: none;
    background: none;
}

.head .controls a.userinfo:hover {
    background-color: transparent;
    color: transparent;
    box-shadow: none;
}

.head .controls a.userinfo:hover .userimage {
    right: -25px;
    top: -10px;
    width: 40px;
    height: 40px;
}

.head .toggle-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    cursor: pointer;
}

.head .toggle-controls {
    position: absolute;
    right: 15px;
    top: 100px;
    width: 150px;
    height: auto;
    border-radius: 10px;
    background: #bababa;
    box-shadow: 5px 5px 13px #8d8d8d,
        -5px -5px 13px #e7e7e7;
    opacity: 0;
    overflow: hidden;
    transform: translate(250px, 0);
    transition: all 1s;
}

.head .toggle-controls.open {
    transform: translate(0, 0);
}

.head .toggle-controls a {
    text-decoration: none;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: #151515;
}

.head .toggle-controls a.active {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .head .weather {
        opacity: 0;
    }
}

@media (max-width: 1000px) {

    .head .controls,
    .head .weather {
        opacity: 0;
    }

    .head .toggle-btn,
    .head .toggle-controls {
        opacity: 1;
    }
}