.nail {
    position: fixed;
    /* top: calc(var(--height) + 700px); */
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 70px;
    border-radius: 50px;
    background: #3e3d3d;
    box-shadow: 7px 7px 11px #191818,
        -7px -7px 11px #636262;
}

.nail span.title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    font-size: clamp(1em, 3em, 4em);
    transform: translate(-50%, -50%);
    background: linear-gradient(220deg, #02dbb0, #007adf);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Verdana;
    white-space: nowrap;
}