.nail {
    position: relative;
    top: calc(var(--height) + 700px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 100px;
    border-radius: 51px;
    background: #1f1f1f;
    box-shadow: 7px 7px 11px #0c0c0c,
        -7px -7px 11px #323232;
}

.nail span.title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    font-size: 3em;
    transform: translate(-50%, -50%);
    background: linear-gradient(220deg, #02dbb0, #007adf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Verdana;
}

.nail .space {
    position: relative;
    top: 30px;
}