div.body div.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 40%;
    transform: translate(-50%, -40%);
    border-radius: 51px;
    background: #bababa;
    box-shadow: 9px 9px 18px #4a4a4a,
        -9px -9px 18px #ffffff;
}

div.body div.container:hover {
    border-radius: 51px;
    background: #bababa;
    box-shadow: inset 9px 9px 18px #4a4a4a,
        inset -9px -9px 18px #ffffff;
}

div.body div.container div.content div.title {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    color: #000;
    font-size: 4em;
    font-weight: 600;
    font-family: 'Comic Sans MS', cursive;
}

div.body div.container div.icon {
    position: absolute;
    top: 40px;
    right: 40px;
}

div.body div.container div.icon img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 8px solid #fff;
}

div.body div.container div.icon div.icon-text {
    position: absolute;
    top: 150px;
    right: 0px;
    width: 40px;
    height: 40px;
    background-color: #f66;
    border: 5px solid #fff;
    border-radius: 25px;
    transition: all 0.8s;
}

div.body div.container div.icon div.icon-text:hover {
    width: 200px;
}

div.body div.container div.icon div.icon-text span {
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.6s;
    transition-delay: both 0.8s;
}

div.body div.container div.icon div.icon-text:hover span {
    opacity: 1;
}