.body .title h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    overflow: hidden;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    font-family: monospace;
    font-size: 7em;
    font-weight: 700;
    background: linear-gradient(220deg, #02dbb0, #007adf);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: typing 5s steps(18, jump-none) both infinite;
}

@keyframes typing {

    0%,
    100% {
        width: 0ch;
    }

    70% {
        width: 18ch;
    }
}

@-webkit-keyframes typing {

    0%,
    100% {
        width: 0ch;
    }

    70% {
        width: 18ch;
    }
}

.body .list {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 0);
}

.body .list a {
    text-decoration: none;
}

.body .list div.li {
    position: relative;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-right: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: #123;
    border-radius: 51px;
    background: #bababa;
    box-shadow: 9px 9px 18px #4a4a4a,
        -9px -9px 18px #ffffff;
    text-decoration: none;
}

.body .list div.li:hover {
    border-radius: 51px;
    background: #bababa;
    box-shadow: inset 9px 9px 18px #4a4a4a,
        inset -9px -9px 18px #ffffff;
}

.body .list div.li h3 {
    text-decoration: none;
    font-size: clamp(1.5rem, 3vw, 6rem);
    font-weight: 600;
    background: linear-gradient(to right, #669181, #5183a4) no-repeat left bottom;
    background-size: 0 25px;
    transition: all 0.5s;
}

.body .list div.li h3:hover {
    text-decoration: none;
    background-size: 100% 16px;
}

.body .list div.li h5 {
    position: relative;
    font-size: calc(clamp(1.5rem, 3vw, 6rem) * 0.5);
    font-weight: 400;

}

.body .list div.li span {
    font-size: calc(clamp(1.5rem, 3vw, 6rem) * 0.4);
}