div.body div.frame {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0, 25px, 45px, rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(50px);
}

div.body div.contact-show {
    position: absolute;
    top: 100%;
    left: 25%;
    width: 45%;
    height: 800px;
    transform: translate(-50%, 0);
}

div.body h2 {
    position: absolute;
    top: 0em;
    left: 50%;
    font-size: 5em;
    font-weight: 700;
    font-family: Verdana, Geneva, sans-serif;
    background: linear-gradient(90deg, #02dbb0, #007adf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(-50%, -50%);
}

div.body div.contact-show a {
    position: absolute;
    width: 80%;
    height: 60px;
    left: 50%;
    top: var(--i);
    transform: translate(-50%, 0);
    border-radius: 30px;
    background-color: #f66;
    transition: all 0.5s;
}

div.body div.contact-show a ion-icon {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: #000;
}

div.body div.contact-show a span {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: #000;
}

div.body div.contact-show a:hover {
    background-color: #33f;
}

div.body div.contact-show a:hover ion-icon {
    color: #fff;
}

div.body div.contact-show a:hover span {
    color: #fff;
}

div.body div.contact-mail {
    position: absolute;
    top: 100%;
    left: 75%;
    width: 45%;
    height: 800px;
    transform: translate(-50%, 0);
}

div.body div.contact-mail span {
    position: absolute;
    top: 6em;
    left: 50%;
    font-size: 2em;
    color: #fff;
    transform: translate(-50%, 0);
}