.focus-wrap {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    color: #fff;
    font-size: 8em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: 0.3s;
    font-family: Verdana, monospace;
}

.focus-wrap span {
    position: relative;
    filter: blur(8px);
    padding: 0 5px;
}

.focus-wrap span:hover {
    filter: blur(0);
    transition: 0.3s;
}

.focus-wrap span i {
    position: absolute;
    inset: 0;
}

.focus-wrap span:hover i::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 20px;
    background: #fff;
    box-shadow:
        0 146px #fff,
        100px 146px #fff,
        100px 0 #fff;
}

.focus-wrap span:hover i::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 6px;
    background: #fff;
    box-shadow:
        0 161px #fff,
        84px 161px #fff,
        86px 0 #fff;
}