.head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #103740;
    z-index: 3;
}

.head .head-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head .return {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    /* filter: invert(0%); */
    color: #fff;
}

.head .title {
    position: absolute;
    top: -30px;
    left: 80px;
    font-family: "Courier New";
    font-size: 30px;
    color: #fff;
}

.head .controls {
    position: absolute;
    top: 20px;
    left: 75%;
    width: 25%;
    height: 30px;
}

.head .controls a {
    margin: 6px;
    padding: 10px;
    font-family: 黑体;
    color: #fff;
    font-size: 22px;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.5s ease;
}

.head .controls a:hover {
    background-color: #fff;
    color: #103740;
}

.head .controls a.active {
    text-decoration: underline #fff 3px;
    text-underline-offset: 8px;
    padding-bottom: 15px;
}

.head .controls a.active:hover {
    text-decoration: underline #103740 3px;
    text-underline-offset: 8px;
}