.nail {
    position: relative;
    top: var(--height);
    width: 100%;
    height: 100px;
    background-color: #103740;
    justify-content: center;
    align-items: center;
}

.nail span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    font-size: 3em;
    transform: translate(-50%, -50%);
    background: linear-gradient(220deg, #02dbb0, #007adf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Verdana;
}